* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

.skip-link {
    position: absolute;
    left: -999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    left: 8px;
    top: 8px;
    width: auto;
    height: auto;
    padding: .5rem 1rem;
    background: white;
    color: black;
    border-radius: 6px;
}

.logo-tele img{
    height: 30px;
    margin: 10px;
}

.hamburger {
    height:30px;
    width:auto;
    font-size: 30px;
    margin: 10px;
    margin-top: 0px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar-tele {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10% 0px 10%;
    background-color: rgba(62, 54, 49, 0.82);
    border: 0.5px solid rgba(105, 95, 85, 0.95);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* Mobile menu container */
.nav-lista-tele {
    margin: 0px 10% 0px 10%;
    padding: 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    text-align: center;
    background-color: rgba(62, 54, 49, 0.82);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    list-style: none;
    font-weight: 500;
    font-size: 17px;
}

.nav-lista-tele.hide-on-scroll {
    max-height: 0 !important;
    padding: 0 !important;
    border: none !important;
    overflow: hidden !important;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.nav-lista-tele.show {
    max-height: 1000px;
    padding:10px;
    border: 0.5px solid rgba(105, 95, 85, 0.95);
}

.nav-lista-tele li {
    padding: 10px 0;
}

.nav-lista-tele a {
    position: relative;
    display: inline-block;
}

/* Pill transparente */
.nav-lista-tele a::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(135, 116, 105, 0.3);
    border-radius: 30px;
    transform: scale(1);
    opacity: 0;
    transition: transform 0.25s ease, opacity 0.25s ease;
    z-index: -1;
}

.nav-lista-tele a:hover::after {
    transform: scale(1.2,1.5);
    opacity: 1;
}

.nav-lista-tele .has-dropdown .dropdown-tele {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8);
    list-style: none;
}

.nav-lista-tele .has-dropdown.active .dropdown-tele {
    max-height: 500px;
}

.offset-menu-tele-av{
    margin-top:10px;
}

.dropdown-hr-tele{
    border: 0.5px solid rgba(105, 95, 85, 0.95);
    margin-left: 30%;
    margin-right: 30%;
}

.navbar-pc{
    display:flex;
    align-items:center;
    justify-content: left;
    margin-top: 20px;
    
}

.logo-pc{
  margin-left: 15%;
  margin-right:10%
}

.logo-pc img{
  height:30px;
  width: 100%;
}

.nav-lista-pc {
    list-style-type: none;
    background-color: rgba(62, 54, 49, 0.82);
    border: 0.5px solid rgba(105, 95, 85, 0.95);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;          
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0px 0px; 
    border-radius: 50px;
}

.nav-lista-pc li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    text-align: center;
}

.nav-lista-pc a {
    position: relative;
    color: white;
    font-weight: 500;
    display: inline-block;
    padding: 10px 2px;
    z-index: 1;
}

.nav-lista-pc a::after {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent;
    border-radius: 30px;
    transform: scale(1);
    opacity: 0;
    transition: 
        transform 0.25s ease,
        opacity 0.25s ease;
    z-index: -1;
}

.nav-lista-pc a:hover::after {
    transform: scale(1.2,1.5);
    opacity: 1;
}

.nav-lista-pc a::before {
    content: "";
    position: absolute;
    inset: 10px 7px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 30px;
    opacity: 0;
    transform: scale(1.2,0.9);
    transition:
        transform 0.25s ease,
        opacity 0.25s ease;
    z-index: -1;
}

.nav-lista-pc a:hover::before {
    opacity: 1;
    transform: scale(1.3,1.4);
}

.dropdown-pc {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(62, 54, 49, 0.95);
    border: 0.5px solid rgba(105, 95, 85, 0.95);
    padding:  0px 0;
    border-radius: 12px;
    min-width: 100%;
    opacity: 0;
    pointer-events: none;
    transform-origin: top;
    transition: 
        opacity 0.25s ease,
        transform 0.25s ease;
}

.dropdown-hr-pc{
    border: none;
    height: 1px;
    background-color: rgba(105, 95, 85, 0.95);
    margin: 0px 30px; 
}

.dropdown-pc li {
    padding: 0px 0px;
    white-space: nowrap;
}

.dropdown-pc a {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    display: block;
}

  .nav-lista-pc li:hover > .dropdown-pc {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(6px);
}

.dropdown-pc a::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(93, 81, 73);
    border-radius: 10px;
    opacity: 0;
    transform: scale(1.2,0.9);
    transition: 
        opacity 0.25s ease,
        transform 0.25s ease;
    z-index: -1;
}

.dropdown-pc a:hover::after {
    opacity: 1;
    transform: scale(1.21, 1.1);
}



#responsabilidade-civil-av{
    margin-left: 15%;
    margin-right: 30%;

}

.av-lista-offset{
    padding-left: 20px;
}

p {
    margin-top: 15px;
    margin-bottom: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}


.introducao-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
    pointer-events: none;
}

.intro-text-container{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    color: white;
    text-align: left;
    max-width: 550px;
    z-index: 2;
}

.intro-text-container h1{
    font-size: 53px;
    font-weight: 100;
    font-family: "Playfair Display",serif;
}

.intro-text-container h2{
    font-size: 90px;
    font-weight: 100;
    
}

.btn{
    background-color: white;
    border-radius: 10px;
    padding: 5px 15px;
    color:black;
    font-weight: 800;
    font-size: 12px;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

 body h1, h2 {
    font-family: 'Gloock';
    font-size: 30px;
    font-weight: 600;

  }

img {
    max-width: 100%;
    height: auto;
    display: block;
}

figure.introducao-container {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

figure.introducao-container img {
  transform: scale(1.2); 
  width: 100%;
  height: 110%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.texto-pratica-topo{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color:rgb(69, 46, 43);
}

.texto-pratica-topo h2{
    font-size: 40px;
    font-weight: 500;
    padding: 5px;
}

.texto-pratica-topo h3{
    font-size: 20px;
    font-weight: 200;
    padding: 5px;
    padding-bottom: 15px;
}

.texto-pratica-topo hr{
    border: 0.5px solid rgba(69, 46, 43);
    width:120px;
    margin: 0 auto;
}

.outras-areas-texto{
    display: flex;
    align-items:last baseline;
    justify-content: center;
    gap:15vw;
    padding-top: 40px;
    padding-bottom: 40px;
    color:rgb(69, 46, 43);
}

.outras-esquerda{
    width: 20%;
}

.outras-areas-texto h2{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 15px;
}

.outras-areas-texto hr{
    border: 0.5px solid rgba(69, 46, 43);
    width:120px;
}

.outras-areas-texto p{
    font-size: 20px;
    font-weight: 500;
    color:rgba(69, 46, 43, 0.8);
}

.lista-areas{
    width: 30%;
    list-style-type:none;
    font-size: 24px;
    font-weight: 600;
    line-height: 45px;
}

.lista-areas li::before {
            content: "\003e\0020";
            margin-right: 15px;
            font-weight: bold;
            color:rgba(69, 46, 43, 0.60)
        }

.principios-valores-total{
    display: block;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 200px 0px;
    color:rgb(69, 46, 43);
}

.principios-valores-total h2{
    font-size: 40px;
    font-weight: 500;
    padding: 15px;
    padding-bottom: 15px;
}

.principios-valores-total hr{
    border: 0.5px solid rgba(69, 46, 43);
    width:200px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.texto-principios{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:200px;
}

.texto-principios img{
    max-height:400px;
    margin-top: 50px;
    margin-left:15%;
    width:auto;
}

.lista-principios-valores{
    list-style-type: none;
    text-align: left;
}

.lista-principios-valores p{
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 0px;
    width:480px;
    color: rgba(119, 110, 105);
}

.lista-principios-valores h3{
    font-size: 32px;
    margin-top: 50px;
    color: rgba(85, 74, 68);
}

.formacao-conteudo{
    padding-top: 40px;
    padding-bottom: 40px;
    color:rgb(69, 46, 43);
}

.formacao-conteudo h2{
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 15px;
}

.formacao-conteudo hr{
    border: 0.5px solid rgba(69, 46, 43);
    width:120px;
}

.formacao-conteudo li{
    list-style-type: none;
}

.informacoes-texto{
    background-color:rgb(245, 245, 245);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color:rgb(69, 46, 43);
}

.informacoes-texto h2{
    font-size: 40px;
    font-weight: 500;
    padding: 5px;
}

.informacoes-texto h3{
    font-size: 20px;
    font-weight: 200;
    padding: 5px;
    padding-bottom: 15px;
}

.informacoes-texto hr{
    border: 0.5px solid rgba(69, 46, 43);
    width:120px;
    margin: 0 auto;
}

.contactos-texto{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color:rgb(69, 46, 43);
}

.contactos-texto h2{
    font-size: 40px;
    font-weight: 500;
    padding: 5px;
}

.contactos-texto hr{
    border: 0.5px solid rgba(69, 46, 43);
    width:120px;
    margin: 0 auto;
}

.perguntas-frequentes li{
    list-style: none;
    margin-bottom: 15px;
}

.perguntas-frequentes {
    margin-top: 10px;
}

.perguntas-frequentes-borda {
    border: 1px solid #D1D1D1;
    padding: 10px 20px;
    width: 70%;
    margin:auto; 
    background: #FFFFFF;
}

.pergunta {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    cursor: pointer; 
    margin: 0px;
}

.pergunta p{
    text-align: left;
    margin-bottom: 15px;
}


.arrow {
    transition: transform 0.3s ease;
    font-size: 23px;
    margin-left: 5px;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.resposta {
    display: none; /* fica escondido */
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.6;
}

.resposta hr {
    width: 150px;
    margin: 0px;
    border: 0.5px solid rgb(183, 183, 183)
}

.resposta p {
    text-align: left;
     margin-bottom: 10px;
     color:rgb(92, 92, 92);
}

.resposta ul {
    text-align: left;
     margin-bottom: 10px;
     color:rgb(92, 92, 92);
}
.resposta.open {
    display: block;  /* para aparecer */
}

footer{
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: rgba(86, 55, 50);
    color: white;
}

footer p{
    padding:0px;
    margin:0px;
}

figure.introducao-container-av {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

figure.introducao-container-av img {
  transform: scale(1.2); 
  width: 100%;
  height: 110%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.introducao-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-color: black;
}

.introducao-container img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    opacity: 0;
    animation: slideShow 12s infinite;
}

.introducao-container img:nth-child(1) { 
    animation-delay: 0s; 
}
.introducao-container img:nth-child(2) { 
    animation-delay: 4s; 
}
.introducao-container img:nth-child(3) { 
    animation-delay: 8s; 
}

@keyframes slideShow {
    0% { opacity: 0; }
    10% { opacity: 1; }
    40% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@media (max-width: 970px) {

    .navbar-pc {
        display: none;
    }

    .navbar-tele {
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
    }

    .nav-lista-tele{
        display: block; 
        margin-left: 5%;
        margin-right: 5%;
    }

    .intro-text-container{
        margin-right: 5%;
        margin-left: 5%;
        padding-bottom: 10px;
        max-height: 80vh;
        overflow: hidden;
        left: 0%;
        transform: translateY(-30%);
    }

    .intro-text-container h1 {
        font-size: 35px ;
    }

    .intro-text-container h2 {
        font-size: 50px ;
    }

    .intro-text-container p {
        font-size: 15px ;
    }
    .outras-areas-texto{
        display: block;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }

    .outras-esquerda{
        width: 90%;
        margin: 0 auto;
        margin-left: 5%;
        margin-left: 5%;
    }

    .outras-esquerda p{
        font-size: 16px;
    }

    .outras-areas-texto hr{
    margin: 0 auto;
    margin-bottom: 30px;
    }

    .lista-areas{
        font-size: 20px;
        width: fit-content;
        margin: 0 auto;
        text-align: left;
        padding-left: 15%;
        padding-right: 15%;
    }






.principios-valores-total{
    width: 90%;
    margin: 0 auto;
}

.principios-valores-total hr{
    width:150px;
    margin-bottom: 40px;
}

.texto-principios{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin:0px;
    gap:0px;
}

.texto-principios img{
    position:absolute;
    width:auto;
    height:auto;
    margin-top: 0px;
    margin-left:0%;
    transform: translateX(-65%) translateY(-50%)
}

.lista-principios-valores{
    margin: 0px;
    margin-left:45%;
    width:100%;
}

.lista-principios-valores p{
    font-size: 14px;
    margin-left: 0px;
    width:auto;
}

.lista-principios-valores h3{
    font-size: 20px;
    margin-top: 30px;
}

.resposta {
    display: none;
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.6;

    }

    .perguntas-frequentes-borda {
        margin-left:5%;
        margin-right:5%;
        width:90%;
    }
}