* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

.skip-link {
    position: absolute;
    left: -999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    left: 8px;
    top: 8px;
    width: auto;
    height: auto;
    padding: .5rem 1rem;
    background: white;
    color: black;
    border-radius: 6px;
}

.navbar{
  display:flex;
  align-items:center;
  justify-content: center;
  gap:200px;
  margin-top: 20px;
  
}

.logo{
  margin-left: 20px;
}

.logo img{
  height:30px;
}

.nav-lista {
    background-color: rgba(62, 54, 49, 0.82); /* semi-transparent blue */
    border: 0.5px solid rgba(105, 95, 85, 0.95);
    backdrop-filter: blur(10px); /* the frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    display: flex;          
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0px 0px; 
    border-radius: 50px;
}

.nav-lista li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    text-align: center;
}

.nav-lista a {
    position: relative;
    color: white;
    font-weight: 500;
    display: inline-block;
    padding: 10px 2px;
    z-index: 1;
}

/* the pill */
.nav-lista a::after {
    content: "";
    position: absolute;
    inset: 0;                   /* makes the pill match the link size */
    background: transparent; /* slightly darker shade */
    border-radius: 30px;        /* pill shape */
    transform: scale(1);      /* starts small */
    opacity: 0;                 /* hidden */
    transition: 
        transform 0.25s ease,
        opacity 0.25s ease;
    z-index: -1;
}

/* on hover: pill appears */
.nav-lista a:hover::after {
    transform: scale(1.2,1.5);
    opacity: 1;
}

.nav-lista a::before {
    content: "";
    position: absolute;
    inset: 10px 7px; /* makes it smaller than the outer pill */
    background: rgba(255, 255, 255, 0.12); /* different color */
    border-radius: 30px;
    opacity: 0;
    transform: scale(1.2,0.9);
    transition:
        transform 0.25s ease,
        opacity 0.25s ease;
    z-index: -1;
}

.nav-lista a:hover::before {
    opacity: 1;
    transform: scale(1.3,1.4);
}

.dropdown {
    position: absolute;
    top: 100%;     /* right below the parent */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(62, 54, 49, 1); 
    border: 0.5px solid rgba(105, 95, 85, 0.95);
    padding:  0px 0;
    border-radius: 12px;
    min-width: 100%;

    /* hidden by default */
    opacity: 0;
    pointer-events: none;
    transform-origin: top;
    transition: 
        opacity 0.25s ease,
        transform 0.25s ease;
}

.dropdown-hr{
    border: none;            /* remove default border */
    height: 1px;             /* thickness */
    background-color: rgba(105, 95, 85, 0.95); /* your color */
    margin: 0px 30px; 
}

.dropdown li {
    padding: 0px 0px;
    white-space: nowrap;
}

.dropdown a {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    display: block;
}

  .nav-lista li:hover > .dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(6px);
}

.dropdown a::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(93, 81, 73);
    border-radius: 10px;
    opacity: 0;
    transform: scale(1.2,0.9);
    transition: 
        opacity 0.25s ease,
        transform 0.25s ease;
    z-index: -1;
}

/* When hovering the dropdown option */
.dropdown a:hover::after {
    opacity: 1;
    transform: scale(1.21, 1.1); /* expand fully between the HR lines */
}

a {
    color: inherit;
    text-decoration: none;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

 body h1, h2 {
    font-family: 'Gloock';
    font-size: 30px;
    font-weight: 600;

  }

img {
    max-width: 100%;
    height: auto;
    display: block;
}

figure.introducao-container {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

figure.introducao-container img {
  transform: scale(1.2); 
  width: 100%;
  height: 110%;
  object-fit: cover;
  object-position: center;
  display: block;
}
